.technologies-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.technologies-container li{
    margin: 10px;
}

.technologies-container li img{
    height: 90px;
}