.technologies-container{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;   
}
.technologies-container li{
	margin: 10px;
}

.technologies-container li img{
	height: 90px;
}